{% extends "chat/base.html" %}

{% block extra-style %}
<style>
    .chat-message {
        background-color: #3b3b3b;
        color: #e1e1e1;
        border-radius: 0.8em;
        padding: 0.4em;
        margin: 0.4em 0;
        display: block;
        white-space: pre-wrap;
        max-width: max-content;
        word-wrap: break-word;
    }
</style>
{% endblock %}

{% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col-sm-12">
            <div class="card" style="height: 600px">
                <div class="card-header">
                    채팅방 : {{ room_name }}
                </div>
                <div class="card-body overflow-hidden">
                    <div id="chat-messages" class="w-100 h-100 border-0 overflow-scroll"></div>
                </div>
                <div class="card-footer">
                    <form id="message_form">
                        <input type="text" name="message" class="form-control" autofocus autocomplete="off" />
                    </form>
                </div>
            </div>

            <hr class="my-3" />

            <a href="{% url 'chat:index' %}" class="btn btn-primary">대기실로 이동</a>
        </div>
    </div>
</div>

{% endblock %}

{% block extra-script %}
<script>
    const handelers = {
        chat_messages_tag: null,
        ws: null,
        retry: 0,

        init() {
            this.chat_messages_tag = document.querySelector('#chat-messages');
            document.querySelector('#message_form').addEventListener('submit', this.onsubmit.bind(this));
        },
        reconnect() {
            this.connect()
        },
        connect(ws_url) {
            this.ws = new WebSocket(ws_url || this.ws?.url);
            console.log(ws_url)

            this.ws.onopen = this.onopen.bind(this);
            this.ws.onclose = this.onclose.bind(this);
            this.ws.onerror = this.onerror.bind(this);
            this.ws.onmessage = this.onmessage.bind(this);
        },
        onopen() {
                console.log("웹소켓이랑 연결 되었습니다.")
                this.retry = 0
            },

        onclose(event) {
            if (!event.wasClean) {
                console.log("네트워크로 장애로인해 웹소켓이 끊겼습니다.")
                
                if (this.retry < 3) {
                    this.retry += 1
                    console.log(`재연결 시도 ${this.retry}회`)
                    this.reconnect()
                } else {
                    alert("네트워크 장애로 인해 웹소켓이 끊겼습니다. 사이트 홈으로 이동합니다.")
                    window.location.href = "{% url 'chat:index' %}"
                }
            }
        },
        onerror() {
            console.log("웹소켓 에러가 발생했습니다.")
            // window.location.href = "{% url 'chat:index' %}"
        },
        onmessage(event) {
            const message_json = event.data;
            console.log("수신된 데이터 : ", message_json)

            const { type, message } = JSON.parse(message_json);

            switch(type) {
                case "chat.message":
                    this.append_message(message)
                    break;
                default:
                    console.log(`Invalid message type : ${type}`)
            }
        },
        append_message(message) {
            const element = document.createElement('div');
            element.className = 'chat-message';

            const wapper = document.createElement('div');
            wapper.textContent = message;
            element.appendChild(wapper);

            this.chat_messages_tag.appendChild(element);
            this.chat_messages_tag.scrollTop = this.chat_messages_tag.scrollHeight;
        },
        onsubmit(event) {
            event.preventDefault();

            const form_data = new FormData(event.target);
            const props = Object.fromEntries(form_data);
            event.target.reset();

            const { message } = props;
            console.log("웹소켓으로 전송할 메시지:", message)

            this.ws.send(JSON.stringify({
                type: "chat.message",
                message: message
            }));
        }
    }
    handelers.init();

    const protocol = location.protocol === "http:" ? "ws:" : "wss:";
    const ws_url = protocol + "//" + location.host + "/ws" + location.pathname;
    handelers.connect(ws_url);
</script>
{% endblock %}